<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
    <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    <hr>
    
    <div th:each="dayGame : ${MonthGame}">
    	<br th:text="${dayGame.date}">
		===================================================================
    	<div th:each="game : ${dayGame.gameList}">
    		<br th:text="|${game.time}/${game.leftTeam}/${game.score}/${game.rightTeam}/|"><a th:href="@{/watch}">경기 영상</a>
    	</div>
    </div>
    
</body>
</html>
