<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>어드민</title>
    
</head>
<body>
    <h1>어드민 페이지입니다. 영상 업로드 테스트 중입니다.</h1>
    <hr>
    
    <form th:action="@{/admin/videoUpload}" method="post">
		<tr>
			<td> local파일 경로 </td>
			<td> <input type="text" name="path" size="100"> </td>
		</tr>
		<br>
		<tr>
			<td>호스트에서 받을 파일 이름</td>
			<td> <input type="text" name="HostfileName" size="100"> </td>
		</tr>
		<br>
		<button type="submit">전송</button>
		
		<br>
		<a th:text="${succesMsg}"></a>
	</form>
</body>
</html>